$clr-light: #FCFCFC;
$clr-light-darken-1: #F2F3F5;
$clr-light-darken-2: #E3E5E8;
$clr-light-darken-3: #D4D7DD;

$clr-dark: #36393F;
$clr-dark-lighten-1: #33363C;
$clr-dark-lighten-2: #393C42;
$clr-dark-lighten-3: #2F3136;
$clr-darker: #202225;

$clr-primary: #7289DA;
$clr-primary-darken: #5167B8;
$clr-danger: #F04747;
$clr-danger-darken: #C22B2B;
$clr-success: #43B581;
$clr-success-darken: #228558;

$clr-text: #6A7480;
$clr-text-darken-1: #6D7783;
$clr-text-darken-2: #4F5660;
$clr-text-dark: #060607;

$clr-border: rgba($clr-dark, .2);