.mini-dot {
  height: 100%;
  width: 1px;
  border: 1px solid;
  border-color: $clr-border;
  display: inline-block;
  margin: .5px .5em;
  border-radius: 50%;
}

.tooltip-wrapper {
  position: relative;

  &:hover {
    .tooltip-content {
      bottom: -10px;
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) scale(1);

      &--right {
        right: -10px !important;
      }
    }
  }

  .tooltip-content {
    position: absolute;
    background: $clr-light;
    color: $clr-dark;
    width: auto;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%) scale(.7);
    bottom: 2px;
    transition: all 0.2s cubic-bezier(.26, -.35, .39, .94);
    opacity: 0;
    visibility: hidden;
    border-radius: .4rem;
    box-shadow: 0 6px 16px rgba($clr-dark, .3);
    padding: .4em .8em;
    font-size: .5em;

    &--right {
      right: 2px !important;
      bottom: 50% !important;
      transform: translateY(50%) scale(.7) !important;
      width: 100% !important;
    }
  }
}